<nav class="navbar navbar-expand-lg navbar-candy">
    <div class="container-fluid">
        <a class="navbar-brand navbar-brand-candy" href="#">
            <!-- lollipop emoji = \u{1F36D} -->
            🍭
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!--Highlight the active link based on the currentPath variable 
                Added "<%= (typeof currentPath !== 'undefined' && currentPath === '/') ? 'active' : '' %>" This checks 
                if currentPath is defined and matches the link's path to add the 'active' class accordingly.
                -->
                <li class="nav-item">
                    <a class="nav-link nav-link-candy <%= (typeof currentPath !== 'undefined' && currentPath === '/') ? 'active' : '' %>" aria-current="page" href="/">Candies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-candy <%= (typeof currentPath !== 'undefined' && currentPath === '/about') ? 'active' : '' %>" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-candy <%= (typeof currentPath !== 'undefined' && currentPath === '/contact') ? 'active' : '' %>" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>