<nav class="navbar navbar-expand-lg navbar-candy">
    <div class="container-fluid">
        <a class="navbar-brand navbar-brand-candy" href="#">
            <!-- lollipop emoji = \u{1F36D} -->
            🍭
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active nav-link-candy" aria-current="page" href="/">Candies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-candy" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-candy" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>