<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<link rel="stylesheet" href="/css/styles.css"/>
<link rel="icon" type="image/x-icon" href="/images/candy.ico">

<div class="mt-4 p-4 bg-gradient-info text-white">
     <h1><%= title %></h1>
</div>

<%- include("../partials/head.ejs") %> 
<%- include("../partials/menu.ejs") %>

<body>
    <p>
        We started the Sweet Tooth Candy Store in 1989, to show our commitment to our childhood dreams and the joy of sweets. Our mission is to provide a delightful experience for candy lovers of all ages, offering a wide variety of treats that bring smiles and happiness. Whether you're looking for nostalgic favorites or new indulgences, we're here to satisfy your sweet cravings!
    </p>
    <%- include("../partials/footer.ejs") %>
</body>
</html>